{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVERGRACE ADMIN</title>
    <link rel="stylesheet" href="{% static 'assets/css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <script defer href="{% static 'assets/js/admin.js' %}"></script>
</head>
<body>
    <div class="sidebar">
        <h1>EVERGRACE</h1>
        <br>
        <hr>
        <br>
        <ul>
            <li><i class="fas fa-house-laptop"></i>Property Management</li>
            <li><i class="fas fa-user"></i>User Management</li>
            <li><i class="fa fa-calendar-days"></i>Scheduled Meetings</li>
            <li><i class="fas fa-chart-pie"></i>Analytics</li>
            <li><i class="fas fa-toolbox"></i>Maintainance Requests</li>
            <li><i class="fas fa-file-export"></i>Export Data</li>
        </ul>
    </div>
</body>
</html>