{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/p-details.css' %}">

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Home</a>  /  Single Property</span>
          <h3>Single Property</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="single-property section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="main-image p-details-ev">
            <div class="images">
                {%for image in images %}
                    <img src="{{ image.image.url }}" alt="" class="image">
                {% endfor %}
            </div>
            <div onclick="side_slide(-1)" class="slide left">
                <span class="fas fa-angle-left"></span>
            </div>
            <div onclick="side_slide(1)" class="slide right">
                <span class="fas fa-angle-right"></span>
            </div>
            <div class="btn-sliders">
                {% for count in image_count %}
                    <span class="btn-slider" count="{{ count }}"></span>
                {% endfor %}
            </div>
          </div>
          <div class="main-content p-details-notes">
              <span class="category">{{ house.type }}</span>
              <h4>UGX {{ house.price }}</h4>
              <hr>
              <div class="houses">
                  <ul>
                      <li><i class="fas  fa-house"></i> Bedrooms: <span>{{ house.bedrooms }}</span></li>
                      {% if house.taken %}
                      <li><i class="fa fa-check-double"></i>Taken: <span>Yes</span></li>
                      {% else %}
                      <li><i class="fa fa-check-double"></i>Taken: <span>No</span></li>
                      {% if house.booked %}
                      <li><i class="fa fa-check"></i>Booked: <span>Yes</span></li>
                      {% else %}
                      <li><i class="fa fa-check"></i>Booked: <span>No</span></li>
                      {% endif %}
                      {% endif %}
                      <li><i class="fa fa-list-ol"></i>Floor: <span>{{ house.floor }}</span></li>
                  </ul>
                  <ul>
                        <li><i class="fa fa-wifi"></i> Wifi</li>
                        <li><i class="fa fa-square-parking"></i> Parking</li>
                        <li><i class="fa fa-shield"></i> Security</li>
                        <li><i class="fa fa-location-dot"></i> Located in Town</li>
                        <li><i class="fa fa-seedling"></i> Environment friendly</li>
                        <li><i class="fa fa-house-medical"></i> Health Conscious</li>
                  </ul>
              </div>
              <hr>
                <p>               
                - <strong>Exterior</strong>: The apartment house boasts a sleek and modern design with a fully vanished exterior finish, giving it a
                clean and sophisticated appearance.<br>
                - <strong>Balcony</strong>: Some apartment units feature a private balcony, offering residents a space to unwind and enjoy the
                outdoors.<br>
                - <strong>Windows</strong>: Large windows adorn the building, allowing natural light to flood the living spaces and providing
                beautiful views of the surroundings.<br>
                - <strong>WiFi</strong>: The apartment house is equipped with high-speed WiFi connectivity, ensuring residents can stay connected for
                work or leisure activities.<br>
                - <strong>Parking</strong>: Residents have access to convenient parking facilities, which may include covered parking spaces or a
                secure parking garage.<br>
                - <strong>Location</strong>: Ideally located in a vibrant neighborhood, the apartment house provides easy access to local amenities,
                transportation options, and entertainment venues.<br>
                - <strong>Interior</strong>: Inside, the apartments feature modern finishes, spacious layouts, and high-quality appliances for a
                comfortable living experience.<br>
                - <strong>Security</strong>: The building offers secure access control systems, surveillance cameras, and possibly on-site staff to
                ensure the safety and well-being of residents.
                <br>
                <br>
                <small>*Note: Some houses may or may not have some of the above.</small></p>
              <hr>
          </div> 
        </div>
        <div class="col-lg-4">
          <div class="info-table">
            <ul>
              <li>
                <h4>Contract<br><span>Contract Ready</span></h4>
              </li>
              <li>
                <h4>Payment<br><span>On Site</span></h4>
              </li>
              <li>
                <h4>Safety<br><span>24/7 Control</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/counter.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script>
    var index = 1;
    showImg(index);
    var btns = document.getElementsByClassName('btn-slider')
    var j;
    for (j = 0; j < btns.length; j++){
        btns[j].addEventListener("click", (e) => {
            var btn_index = e.target.attributes.count.value;
            btn_slide(Number(btn_index) + 1);
        })
    }
    function btn_slide(e){showImg(index = e);}
    function side_slide(e){showImg(index += e);}
    
    function showImg(e){
        var i;
        const img = document.getElementsByClassName("image");
        const sliders = document.querySelectorAll(".btn-sliders span");
        if (e > img.length){index = 1}
        if (e < 1){index = img.length}
        for (i = 0; i < img.length; i++){
            img[i].style.display = "none";
        }
        for (i = 0; i < sliders.length; i++){
            sliders[i].style.background = "rgba(255,255,255,0.3)";
        }
        img[index-1].style.display = "block";
        sliders[index-1].style.background = "white";
    }
</script>

{% endblock %}
